{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block body %}
	<style>{{source('style.css')}}</style>
	<header class="showHeader">
		{% include 'header.html' %}

		<div class="text-box-show">
			<h1 class="heading-primary">
				<span class="heading-primary-main">About us</span>
				<span class="heading-primary-sub">More about Travel Buddy</span>
			</h1>
		</div>
	</header>
	<main class="aboutContainer">
		<div class="aboutCard">
			<p class="aboutText">This is a symfony web app for browsing travel locations, showing their current weather and making travel plans for them. The app was done as a group project for Business College Helsinki's full stack course. The app uses pictures from
				<a href="https://unsplash.com/">Unsplash</a>
				and icons from
				<a href="https://icons8.com/">icons8</a>.
				<br>
				<br>
				Team roles:
				<br>
				<br>
				API handling for weather and cities: Toni
				<br>
				<br>
				Search function for the locations: Quan
				<br>
				<br>
				Layout design and travel initiary form and database: Hetti
			</p>
		</div>
	</main>
	{% include 'footer.html' %}
{% endblock %}
