{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block body %}
	<style>{{source('style.css')}}</style>
	<header class="showHeader">
		{% include 'header.html' %}

		<div class="text-box-show">
			<h1 class="heading-primary">
				<span class="heading-primary-main">About us</span>
				<span class="heading-primary-sub">More about Travel Buddy</span>
			</h1>
		</div>
	</header>
	<main class="aboutContainer">
		<div class="aboutCard">
			<p class="aboutText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur ex soluta, adipisci quas natus, porro consequuntur cumque reprehenderit ad, similique distinctio. Dolorum, neque a. Recusandae voluptatibus sunt quasi provident?
				            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dolorum tenetur deleniti atque, vero beatae odit fugiat in, assumenda quos voluptates consequatur necessitatibus aliquam cum quidem provident molestias. Natus animi placeat sunt. Tenetur, ad maiores eius facere quibusdam nihil asperiores, dolorum dolorem cumque minus similique nostrum eum blanditiis reiciendis at dolores autem temporibus architecto delectus magni assumenda quisquam facilis. In aliquid nam dolor quo, maxime neque consectetur unde ad deserunt vitae voluptas sint officia illum minus temporibus aspernatur? Placeat perferendis nam impedit recusandae! Error possimus iusto ipsum asperiores, incidunt, a dignissimos
			</p>
		</div>
	</main>
	{% include 'footer.html' %}
{% endblock %}
