{% extends 'base.html.twig' %}

{% block title %}Location Page
{% endblock %}

{% block body %}
	<style>{{source('style.css')}}</style>
	<header class="showHeader">
		{% include 'header.html' %}

		<div class="text-box-show">
			<h1 class="heading-primary">
				<span class="heading-primary-main">Location</span>
				<span class="heading-primary-sub">More about Location</span>
			</h1>
		</div>
	</header>
	<main>
		<div class="aboutCard">
			<p class="aboutText">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quasi dignissimos qui fuga dicta laboriosam omnis consequuntur nihil eaque ad dolorum consequatur minima vero exercitationem voluptatibus quibusdam quos iure possimus labore ipsam molestiae voluptatum, nobis inventore adipisci! Sequi dignissimos maiores voluptatem nihil nisi beatae distinctio, libero quae suscipit atque dolore minima esse possimus, cupiditate minus! Est laudantium vitae quae ad eum incidunt provident, esse sit dolorem expedita suscipit natus reiciendis facere voluptates? Maxime recusandae  sunt sequi itaque quam voluptate? Autem amet blanditiis sunt officiis quas numquam, inventore nisi, ipsum expedita porro sint optio at veniam? Nostrum ad dolores alias dolorem possimus est similique amet consequuntur numquam nam sapiente omnis odit illo ratione blanditiis, distinctio deserunt temporibus quod laborum minus accusantium, nisi in quae hic! Dolores quod molestiae perferendis ex odio repellat aperiam, enim sunt cum ducimus amet similique nulla, nostrum unde laborum. Quo iste et nihil enim magnam harum consequatur quos, nobis minus! Illo ad at, architecto dicta sequi debitis. Aliquid atque quasi in molestias quidem, ut dolorum amet obcaecati vitae corporis blanditiis minus, et deleniti adipisci suscipit earum necessitatibus voluptatem deserunt, sint saepe rerum! Maiores laboriosam dicta labore voluptates delectus voluptatibus inventore reiciendis nemo ea perspiciatis blanditiis, quas unde quam reprehenderit ipsa? Natus beatae voluptatem nihil?</p>
			<a href="{{ path('app_travel_plan_new') }}" class="btn btn-white btn-animated">Make a New Plan</a>
			<div class="weatherContainer">
				<div class="weatherCards">
					<span class="heading-primary-sub">
						Current Weather
						<img class="daytimeImg" src="https://img.icons8.com/?size=100&id=X9MPjL8kMTza&format=png&color=000000">
						<br>
						25 C
						<br>
						Sunny
					</span>
				</div>
				<div class="weatherCards">
					<span class="heading-primary-sub">
						Weather Tomorrow
						<img class="daytimeImg" src="https://img.icons8.com/?size=100&id=t5klg7v5KTQ2&format=png&color=000000">
						<br>
						21 C
						<br>
						Overcast
					</span>
				</div>
				<div class="weatherCards">
					<span class="heading-primary-sub">
						Weather on Day
						<img class="daytimeImg" src="https://img.icons8.com/?size=100&id=crEvzxjxYnDO&format=png&color=000000">
						<br>
						18 C
						<br>
						Rainy
					</span>
				</div>
				<div class="weatherCards">
					<span class="heading-primary-sub">
						Weather on Day
						<img class="daytimeImg" src="https://img.icons8.com/?size=100&id=aPRy2QajgpVW&format=png&color=000000">
						<br>
						18 C
						<br>
						Cloudy
					</span>
				</div>
			</div>
		</div>
	</main>
	{% include 'footer.html' %}
{% endblock %}
