{% extends 'base.html.twig' %}

{% block title %}Make a New Travel Plan
{% endblock %}

{% block body %}
	<style>{{source('style.css')}}</style>
	<header class="showHeader">
		{% include 'header.html' %}

		<div class="text-box-show">
			<h1 class="heading-primary">
				<span class="heading-primary-main">Create
				</span>
				<span class="heading-primary-sub">a New Travel Plan
				</span>
			</h1>
			<div class="showButtons"></div>
			<a class="btn btn-white btn-animated" href="{{ path('app_travel_plan_index') }}">Go Back</a>
		</div>
	</header>

	<main class="createForm">


		{{ include('travel_plan/_form.html.twig') }}

	</main>

	{% include 'footer.html' %}
{% endblock %}
