{% extends 'base.html.twig' %}

{% block title %}Browse Locations
{% endblock %}

{% block body %}
	<header class="header">
		{% include 'header.html' %}

		<div class="text-box">
			<h1 class="heading-primary">
				<span class="heading-primary-main">Browse Locations</span>
				<span class="heading-primary-sub">Find a location for your dream vacation</span>
			</h1>
			<input type="text" name="searchLocations" class="browsePlans" id="searchLocations" autocomplete="off" placeholder="Browse Locations...">
		</div>
	</header>

	<main class="itiContainer">
		<style>{{source('style.css')}}</style>


		<div class="itiCard">
			<img class="itiImg" src="https://source.unsplash.com/600x500/?historical-monument">
			<h3>Location</h3>
			<p class="itiText">Description</p>

			<a class="btn btn-white btn-animated" href="/singlepage">View More</a>

		</div>

		<div class="itiCard">
			<img class="itiImg" src="https://source.unsplash.com/600x500/?city">
			<h3>Location</h3>
			<p class="itiText">Description</p>

			<a class="btn btn-white btn-animated" href="/singlepage">View More</a>

		</div>

		<div class="itiCard">
			<img class="itiImg" src="https://source.unsplash.com/600x500/?sking">
			<h3>Location</h3>
			<p class="itiText">Description</p>

			<a class="btn btn-white btn-animated" href="/singlepage">View More</a>

		</div>
		<div class="itiCard">
			<img class="itiImg" src="https://source.unsplash.com/600x500/?tropic">
			<h3>Location</h3>
			<p class="itiText">Description</p>

			<a class="btn btn-white btn-animated" href="/singlepage">View More</a>

		</div>
	</main>
	{% include 'footer.html' %}
{% endblock %}
