
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --title-color: #403a3d;
  --text-color: #494547;
  --secondary-color:#fde9e9;
  --main-color:#fad4c6;
  --accent-color:#fda7a3;
  --title-font:"Quicksand", sans-serif;
  --font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 65.6px;
  background: rgb(255, 152, 152);
  background: linear-gradient(45deg, rgb(243, 207, 187) 0%, rgb(255, 158, 158) 100%);
  height: 100%;
  background-attachment: fixed;
}

body {
    font-family: var(--font);
    color: var(--text-color);
    background-color: transparent;
}

p {
  font-size: 18px;
}

h1 {
  font-family: var(--title-font);
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  color: var(--title-color);
}

.navbar {
  background-color: #121010b6;
  padding: 0.7rem;
  box-shadow: rgba(75, 28, 28, 0.328) 0px 3px 8px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--title-font);
  padding-left: 1rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 8rem;
}

.navbar-nav li {
  margin-left: 1rem;
}

.navbar-nav a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 1rem;
}
.navbar-nav a:hover {
  color: var(--main-color);
}

.add-box {
  position: absolute;
  top: 0.7rem;
  width: 6rem;
  right: 20px;
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--accent-color);
  color: #494547;
  height: 2rem;
  margin-left: 2rem;
  align-content: center;
  text-align: center;
}

.add-box:hover {
  background-color: var(--main-color);
}

.add-box a {
  text-decoration: none;
  color: #494547;
}

.itiContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.itiCard {
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: fit-content;
  width: 300px;
  margin: 1rem;
  padding-bottom: 2rem;
}

.itiImg {
  width: 80%;
  margin: 10%;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.itiText {
  padding-bottom: 1rem;
}


input {
  border-radius: 8px;
  width: 34rem;
  border-style:solid;
  border-color: #fda7a332;
  height: 35px;
  font-size: 18px;
  text-align: center;
  background-color: #f6dedd87;
  margin: 0.5rem;
}

.formF {
  flex-wrap: nowrap;
  justify-self: center;
  text-align: center;
}

form {
  flex-wrap: nowrap;
  justify-self: center;
  text-align: end;
  margin-right: 28%;
}

.header {
  height: 70vh;
  background-image: 
  linear-gradient(to right bottom, 
  #ffb48b46 0%, #ee8a8a85 100%),
   url('https://source.unsplash.com/1920x500/?travel');
  background-size: cover;
  background-position: top;
  position: relative;

}

.header-home {
  height: 100vh;
  background: radial-gradient(circle, rgba(205, 135, 97, 0.571) 21%, rgba(206, 131, 91, 0.528) 50%, rgba(209, 110, 110, 0.551) 100%),
   url('https://source.unsplash.com/1920x500/?travel');
  background-size: cover;
  background-position: top;
  position: relative;

}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 30rem;
}

.text-box-show {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 30rem;
}

.heading-primary {
  color: var(--title-color);
  backface-visibility: hidden;
  font-family: var(--title-font);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.heading-primary-home {
  color: var(--title-color);
  backface-visibility: hidden;
  font-family: var(--title-font);
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.heading-primary-main {
  display: block;
  font-size: 5rem;

}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-family: var(--font);
}

.browsePlans {
  display: block;
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 95%);
  text-align: center;

}

.showHeader {
  height: 60vh;
  background-image: 
  linear-gradient(to right bottom, 
  rgba(255, 180, 139, 0.57) 0%, rgba(255, 158, 158, 0.535) 100%),
   url("https://source.unsplash.com/1920x500/?travel");
  background-size: cover;
  background-position: top;
  position: relative;
}

.showContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.showImg {
  width: 80%;
  margin: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.daytimeImg {
  width:45px;
  align-self: center;
}


.morning {
  display: flex;
  flex-direction: column;
  background-color: #f8e5ac;
  background-image: linear-gradient(to bottom, #f8e5ac, #f7d49c, #f7c38e, #f5b284, #f3a07e);
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: fit-content;
  width: 300px;
  margin: 1rem;
  padding: 2rem;
}

.noon {
  display: flex;
  flex-direction: column;
  background-color: #f8cdac;
  background-image: linear-gradient(to bottom, #f8cdac, #f7c3a2, #f6b899, #f5ae91, #f4a38b);
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: fit-content;
  width: 300px;
  margin: 1rem;
  padding: 2rem;
}

.afternoon {
  display: flex;
  flex-direction: column;
  background-color: #f4bfc7;
  background-image: linear-gradient(to bottom, #f4bfc7, #f3b1b9, #f2a4aa, #f0969a, #ed8989);
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: fit-content;
  width: 300px;
  margin: 1rem;
  padding: 2rem;
}

.evening {
  display: flex;
  flex-direction: column;
  background-color: #bfb3de;
  background-image: linear-gradient(to bottom, #bfb3de, #c8a9d6, #d2a0ca, #da96bb, #e08da8);
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  height: fit-content;
  width: 300px;
  margin: 1rem;
  padding: 2rem;
}

.homeIcons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  color: var(--secondary-color);
}

.icons {
  padding-bottom: 1rem;
}

.showButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:center;
  align-self: center;
}
.showButtons2 {
  display: flex;
  flex-direction: row;
  margin-left:27%;
}

.showButtons3 {
display: inline-block;
}

.createForm {
  margin: 2rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
  margin: 0.5rem;
  align-content: center;
}

.btn-black {
  background-color: var(--title-color);
  color: var(--secondary-color);
  font-size: 14px;
  margin: 0.5rem;
  align-content: center;
}

.btn-form {
  margin-right:25%;
  margin-left:50%;
  margin-top: 0.5rem;
  background-color: #ffffff;
  color: #777;
  font-size: 14px;
  align-content: center;
  padding: 8px 14px;
}

.btn-d {
  margin-top: 0.5rem;
  background-color: #f5b6b6;
  color: #777;
  font-size: 14px;
  padding: 8px 14px;
  margin-left: 0.5rem;
}

button, select {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border-color: transparent;
  cursor: pointer;
}

button:hover,select:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}
